POSTGRES_DATABASE="ipe_db"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="postgres"
POSTGRES_USER="postgres"
POSTGRES_URL_NON_POOLING='postgres://postgres:postgres@localhost:5432/ipe_db'
NODE_ENV="development"
VERCEL_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXT_PUBLIC_APP_VERSION="0.0.5"
MASTER_PASSWORD='$2b$08$hwrjLA9uGQK4CmXO3SQz6uI6MhMTPmKY2RcptmnZZkQmJzmzUwSr6'
